.admin {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #1C282C, #354B4E, #4E6D6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #1C282C, #354B4E, #4E6D6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  * {
    margin: 0;
  }
}

.admin__header {
  width: 100%;
  height: 80px;
  display: grid;
  justify-content: end;
  align-items: center;

  .button__logout {
    margin-right: 20px;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all .2s ease-in;

    &:hover {
      cursor: pointer;
      background: rgba(255,255,255,.1);
      border: 2px solid transparent;
    }
  }
}

.pagebody {
  padding: 0 40px 40px 40px;
}

.container {
  width: 100% !important;
}

.button__refresh {
  padding: 5px 10px;
  font-size: 14px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all .2s ease-in;
  float: right;

  &:hover {
    cursor: pointer;
    background: rgba(255,255,255,.1);
    border: 2px solid transparent;
  }

  &:hover > .icon__sync {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .icon__sync {
    transition: all .5s ease;

    &:hover {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
}

@media (max-width: 719px) {
  .button__refresh {
    float: left;
  }
}
@media (max-width: 439px) {
  .pagebody h1 {
    text-align: center;
  }

  .section__heading {
    text-align: center;
  }

  .button__refresh {
    float: none;
  }

  .button__refresh__wrapper {
    text-align: center;
  }

}