.login {
  width: 100%;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #1C282C, #354B4E, #4E6D6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #1C282C, #354B4E, #4E6D6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  * {
    margin: 0;
  }
}

.loginform__wrapper {
  width: 420px;
  text-align: center;
}

.loginform {
  margin-top: 50px;

  .formcontrol {
    display: grid;
    text-align: left;
    padding: 20px 0 0 0;
    border-top: 1px solid rgba(255,255,255,.1)
  }

  .formcontrol label {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .formcontrol input{
    background: rgba(255,255,255,.1);
    border: none;
    height: 32px;
    margin-bottom: 30px;
    color: rgba(255,255,255,1);
    border-radius: 5px;
    padding-left: 10px;
    transition: all .2s ease;
    font-family: 'Source Sans Pro', sans-serif;

    &:hover {
      background: rgba(255,255,255,.15);
    }
  }

  .loginform__button {
    width: 100%;
    margin-top: 20px;
    background: rgba(255,255,255,.2);
    border: none;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease-in;

    &:hover {
      cursor: pointer;
      background: rgba(255,255,255,.35);

    }
  }
}

@media (max-width: 439px) {
  .loginform__wrapper {
    width: 260px;
  }
}