.container {
  width: 100%;
  max-width: none !important;
}

.section {
  margin-top: 40px !important;
  margin-bottom: 40px !important;

  .section__heading {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,.05);
  }

}

.datatable {
  width: 100%;
  text-align: center;

  thead {
    text-transform: uppercase;
    tr { line-height: 40px; }
  }

  tbody tr {
    line-height: 25px;
  }
}

.toggle-enter {
  opacity: 0;
  transform: scale(0.9);
}
.toggle-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.toggle-exit {
  opacity: 1;
}
.toggle-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

@media (max-width: 439px) {
  .section__heading {
    text-align: center;
  }

  .datatable {
    overflow-x: auto;
    white-space: nowrap;
  }
}