body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #1C282C, #354B4E, #4E6D6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #1C282C, #354B4E, #4E6D6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
